* {
	box-sizing: border-box;
}

header {
	/*position: fixed;*/
	right: 0;
	top: 0;
	left: 0;
	text-align: center;
	background-color:gray;
}

footer {
	/*position: absolute;*/
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color:gray;
}

button {
	margin-top: 5%;
}

.content {
	margin: 5% auto;
/*	width: 500px;
	height: 500px;*/
	/*background-color:gray;*/
	text-align: center;
}

.frame {
	text-align: center;
	/*width: 280px;*/
	margin:auto;
}

.choice {
	margin-top: 2%;
	text-align: left; 
}


.allocation {
	margin: 2% auto;
	text-align: center;
	/*background-color: gray;*/
/*	width: 500px;
	height: 300px;*/
}

.stock, .bond {
	list-style-type: none;
}